@import url("https://fonts.googleapis.com/css?family=Raleway:wght@200,400,500,600,800&display=swap&subset=latin-ext");

/* @import url("https://unpkg.com/aos@2.3.1/dist/aos.css"); */

/*-------------general styles-----------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 25px;
  color: #777;
  font-family: "Raleway", sans-serif;
}

section {
  width: 100%;
}

a {
  text-decoration: none;
}

/*-------------header-----------*/
header {
  background: #fff;
  padding: 10px 50px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  z-index: 10;
}

header div:first-of-type {
  height: 0px;
  transform: scale(1.25);
  margin-left: 20px;
}

/*-------------navbar-------------*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  float: right;
  margin-top: 8px;
  margin-bottom: 3px;
}

.menu a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 0 5px;
  margin-left: 10px;
  /* font-size: 1rem; */
  color: #777;
  font-weight: 600;
}

.menu a:last-of-type {
  margin-right: 50px;
}

.button--show-menu,
.button--hide-menu {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

.button--show-menu {
  float: right;
}

.menu a:hover {
  /* font-weight: 600; */
  color: #75a99d;
}

#check {
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .button--show-menu,
  .button--hide-menu {
    display: block;
  }

  .menu {
    position: fixed;
    width: 100%;
    background: #ffffff9f;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    width: 40%;
  }

  .menu a {
    display: block;
    padding: 0.8rem;
    opacity: 1;
    margin: auto;
  }

  .menu a:last-of-type {
    margin-right: 0;
  }

  .button--hide-menu {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }

  #check:checked ~ .menu {
    right: 0;
  }
  #check:checked ~ .button--show-menu {
    visibility: hidden;
  }
}

/*----------mainpage---------*/
#mainpage {
  overflow: hidden;
  background: url("../imgs/home_page.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.mainpage__content {
  transform: translateX(-45%);
  position: relative;
  top: 40%;
  left: 50%;
  text-shadow: 0px 5px 25px rgba(0, 0, 0, 0.322);
}

.mainpage__content h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 400;
}

/*------------services------------*/
.services {
  text-align: center;
}

.services__anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.fa-layer-group{
  color: #75a99d;
}

.services__content {
  display: flex;
  font-size: 0.8rem;
  margin: auto 2rem;
}

.services h2 {
  margin: 50px auto 10px;
  font-size: 1.4rem;
}
.services__content div {
  flex: 1;
}

.services__content h3,
em {
  margin: 20px auto;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  .services__content {
    flex-direction: column;
  }
}

.services li {
  margin-left: 50px;
  text-align: left;
  list-style-type: square;
}

/*--------------info--------------*/
.info__content {
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.info__text {
  width: calc(70% - 4rem);
  margin-right: 4rem;
  line-height: 1.2rem;
  color: #777;
}

.info__text h3,
p {
  margin: 20px auto;
  line-height: 1.2rem;
}

.info__photo {
  overflow: hidden;
  background: url("../imgs/law_library_small.jpg");
  width: 30%;
  min-height: 30vh;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .info__content {
    display: flex;
    flex-direction: column;
  }
  .info__text {
    width: 100%;
    margin-right: 0;
  }
  .info__photo {
    width: 100%;
    height: 20vh;
  }
}

/*--------------about--------------*/
.about__content {
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.about__text {
  width: calc(70% - 4rem);
  margin-left: 4rem;
  line-height: 1.2rem;
  color: #777;
}

.about__text h2,
h3,
p {
  margin-top: 20px;
  line-height: 1.2rem;
}

.about__photo {
  overflow: hidden;
  width: 30%;
}

.about__photo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .about__content {
    display: flex;
    flex-direction: column-reverse;
  }
  .about__text {
    width: 100%;
    margin-left: 0;
  }
}

/*-------------contact-------------*/
.contact {
  background-color: rgb(245, 245, 245);
}

.contact__content {
  text-decoration: none;
  margin: 4rem;
  color: #333;
  display: flex;
}

.contact__form {
  width: calc(70%-4rem);
  margin-right: 4rem;
}

.contact__phone {
  width: 30%;
}

#contact__phone h2 {
  color: rgba(0, 0, 0, 0.507);
}

#contact__phone h3 {
  color: rgba(0, 0, 0, 0.644);
}

@media screen and (max-width: 1100px) {
  .contact__content {
    flex-direction: column;
  }
  #contact__phone {
    margin-top: 2rem;
  }
}
/*-------------footer-------------*/
#banner {
   /* background-color: #75a99d; */
  }
  
.banner__content {
  width: 100%;
    /* height: 60px; */
  padding-right: 1rem;
  color: white;
  font-size: 0.6rem;
  background-color: #75a99d;
  text-align: right;
}


/*------- do not delete -------*/
div {
  float: left;
}
/*------- do not delete -------*/
